.home-page {
    display: flex;
    flex-direction: column; // Xếp các phần tử theo chiều dọc
    align-items: center; // Canh giữa các phần tử
    margin: 0 250px; // Lề trái và phải
    padding: 20px 0; // Khoảng cách trên và dưới cho phần tử
    background-color: rgba(57, 149, 12, 0.2);

    h4 {
      text-align: center; // Canh giữa văn bản
      font-size: 20px; // Kích thước chữ
      font-weight: normal; // Cân bằng trọng lượng chữ
      color: #333; // Màu chữ
      margin-bottom: 20px; // Khoảng cách dưới để phân tách h4 với CourseCard
    }
  
    .course-card {
      // Các style dành riêng cho CourseCard nếu cần
    }
  }
  