// Tùy chỉnh Menu trong Sider
.ant-layout-sider {
  .demo-logo-vertical {
    height: 32px;
    margin: 16px;
    padding: 16px;
    border-radius: 6px;
    display: flex;           
    justify-content: center;  
    align-items: center;      
    padding: 0 10px;          
    font-weight: bold; 
    color: #333;
    background: var(--green-04);
    cursor: pointer;
  }

  .ant-menu {
    .ant-menu-item {
      font-size: 16px;
      font-weight: 500;

      // Hiển thị màu khi hover
      &:hover {
        background-color: var(--green-02) !important;
        color: #fff; // Đổi màu chữ khi hover
      }

      // Khi mục menu được chọn (active)
      &.ant-menu-item-selected {
        background-color: var(--green-06);  // Màu nền khi mục được chọn
        color: #fff; // Đổi màu chữ khi chọn
      }
    }
  }
}
